/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.container {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #1976d2;
}
.middle-container {
  height: 470px;
  display: flex;
  width: 100%;
}
.content-container {
  width: 50%;
}
.nav {
  width: 25%;
  background-color: darkkhaki;
}
.footer {
  height: 91px;
  background-color: black;
}
.menu {
  background-color: crimson;
  height: 50px;
}
.content {
  height: 420px;
}
.ads {
  width: 25%;
  background-color: aqua;
}
