.container {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #1976d2;
  top: 0;
  margin-top: 0;
  position: sticky;
  z-index: 100;
  height: 63px;
}
.middle-container {
  display: flex;
  width: 100%;
  min-height: 555px;
  /* align-items: center;
  justify-content: center; */
}
.content-container {
  width: 50%;
}
.nav {
  width: 25%;
  background-color: darkkhaki;
}
.footer {
  height: 91px;
  background-color: black;
  margin-bottom: 0;
  position: sticky;
}
.menu {
  background-color: crimson;
  height: 50px;
}
.content {
  height: 420px;
}
.ads {
  width: 25%;
  background-color: aqua;
}
